body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;

}

.center {
  text-align: center;
}

header {
  background-color: #0f172a;
  color: white;
  padding: 40px 0;
}

.profile-img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 40px 0;
  background: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 
}

.project {
  background: #e2e8f0;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  a:link, a:visited {
  background-color: #e2e8f0;
  color: black;
  border: 2px solid #0f172a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #0f172a;
  color: white;
}

}

footer {
  text-align: center;
  background-color: #0f172a;
  color: white;
  padding: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  transition: all 0.3s ease;
}

nav a:hover {
  font-weight: bold;
  color: AliceBlue; /* optional color change on hover */
}